<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>transformyourvoice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3D093481C099924006CDFEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3D0935C1C099925006CDFEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3D093671C099925006CDFEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
